body {
  background-color: #1D8981;
  color: #eee;
  text-align: center;
  font-family: 'Sahitya', serif;
}

h1 {
  display: none;
}

.stellion {
  display: block;  
  position: absolute;
  right: 0;
  top:300px;
  width: 400px;
  margin: 10px;
}

.logotype {
  display: block;
  width: 100%;
  margin: 10px;
}

.pat {
  fill: #fff;
}

.hadley {
  fill: #000;
}

main {
  width: 360px;
  margin: 200px auto;
}

p {
  line-height: 2em;
}

ul {
  display: inline-block;
}

li {
  text-decoration: none;
  display: inline-block;
  margin: 30px;
}





@media (max-width: 900px) {
  main {
    margin: 50px 20px;
  }
  .stellion {
    top: 600px;
    width: 200px;
  }

}
