body {
  background-color: #1D8981;
  color: #eee;
  text-align: center;
  font-family: 'Sahitya', serif;
}

h1 {
  display: none;
}

#stellion {
  display: block;  
  position: absolute;
  right: 0;
  top:120px;
  width: 300px;
  margin: 10px;
  z-index: -1;
}

#logo {
  display: block;
  width: 100%;
  margin: 10px;
}

.pat {
  fill: #fff;
}

.hadley {
  fill: #000;
}

main {
  width: 360px;
  margin: 40px auto;
}

p {
  line-height: 2em;
}

ul {
  display: inline-block;
}

li {
  font-family: 'Exo 2', sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

strong {
  font-size: 3.4em;
  color: #000;
}

strong:hover {
  color: #555;
}