/*===BASICS===*/

body {
  background-color: #1D8981;
  color: #eee;
  text-align: center;
  font-family: 'Sahitya', serif;
}

/*===TYPE===*/

h1 {
  display: none;
}

h2 {
  font-size: 1.4em;
  line-height: 1.6em;
}

h3 {
  font-family: 'Exo 2', sans-serif;
  color: #924001;
  text-align: left;
}

p {
  line-height: 2em;
}

li {
  font-family: 'Exo 2', sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

strong {
  font-size: 3.4em;
}

a {
  color: #924001;
}

a:hover {
  color: #D5A179;
}

/*===MAIN===*/

main {
  width: 360px;
  margin: 40px auto;
}

.pat {
  fill: #fff;
}

.hadley {
  fill: #000;
}

/*===PROJECTS===*/


.project-link {
  height: 33%;
}

.project-link img {
  width: 100%;
}

/*===LINKS===*/

ul {
  display: inline-block;
}

/*===EXTRAS===*/

#stellion {
  display: block;  
  position: absolute;
  right: 0;
  top:120px;
  width: 300px;
  margin: 10px;
  z-index: -1;
}

